In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import sqlite3

import pandas as pd

In [ ]:
simu_db_path: str = "../../data/simu_db/Base.db"

In [ ]:
with sqlite3.connect(simu_db_path) as con:
    simu_df = pd.read_sql_query("SELECT * FROM post", con)
simu_df

,post_id,user_id,original_post_id,content,quote_content,created_at,num_likes,num_dislikes,num_shares,num_reports
0,1,32,NaN,report: amazon plans to open its first physica...,None,0,106,0,94,0
1,2,35,1.0,,None,3,0,0,0,0
2,3,94,1.0,,None,3,0,0,0,0
3,4,46,1.0,,None,3,0,0,0,0
4,5,57,1.0,,None,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
90,91,93,1.0,,None,9,0,0,0,0
91,92,97,1.0,,None,9,0,0,0,0
92,93,10,1.0,,None,9,0,0,0,0
93,94,74,1.0,,None,9,0,0,0,0
94,95,29,1.0,,None,9,0,0,0,0

In [ ]:
with sqlite3.connect(simu_db_path) as con:
    user_df = pd.read_sql_query("SELECT * FROM user", con)
user_df

,user_id,agent_id,user_name,name,bio,created_at,num_followings,num_followers
0,0,0,user0,user_0,Lecturer in Healthcare Marketing and Commercia...,0,0,0
1,1,1,user1,user_1,"✩ 🇬🇾🍉 I dance on tiktok, and cry in bed",0,1,0
2,2,2,user2,user_2,Cook.Ride.Explore.,0,1,0
3,3,3,user3,user_3,"Software engineer at @stockx, music lover, whi...",0,1,0
4,4,4,user4,user_4,Social Media Strategist 🧠 I Coach 👩🏻‍💻 I Consu...,0,0,0
...,...,...,...,...,...,...,...,...
106,106,106,user106,user_106,Middle Bridge Partners invests in emerging com...,0,1,0
107,107,107,user107,user_107,I'm on Threads as @jma0611,0,1,0
108,108,108,user108,user_108,views expressed are my personal ones,0,0,0
109,109,109,user109,user_109,"Communications professional, proud Winnipegger...",0,1,0
110,110,110,user110,user_110,I believe in science.,0,1,0

In [ ]:
user_df["num_followers"].value_counts()

num_followers
0     100
1       9
3       1
73      1
Name: count, dtype: int64

In [ ]:
with sqlite3.connect(simu_db_path) as con:
    follow_df = pd.read_sql_query("SELECT * FROM follow", con)
follow_df

    follow_id  follower_id  followee_id  created_at
0           1            1           32           0
1           2            2           32           0
2           3            3           32           0
3           4            7           32           0
4           5            8           32           0
..        ...          ...          ...         ...
80         81          105           99           0
81         82          106           32           0
82         83          107           32           0
83         84          109           32           0
84         85          110           32           0

[85 rows x 4 columns]