In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import sqlite3

import pandas as pd

In [ ]:
simu_db_path: str = "../../data/simu_db/Base.db"

In [ ]:
with sqlite3.connect(simu_db_path) as con:
    simu_df = pd.read_sql_query("SELECT * FROM post", con)
simu_df

,post_id,user_id,original_post_id,content,quote_content,created_at,num_likes,num_dislikes,num_shares
0,1,32,None,report: amazon plans to open its first physica...,None,0,0,0,0